/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-2-29, 15:33:31
    Author     : Administrator
*/
.btn_day_type {
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  background-color: #04be02;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  margin: 9px 5px;
}
.title {
    background-color:#009DE4;
    height:40px;
    line-height: 40px;
    color: #FFF;
}
.title_submit {
  position: absolute;
  right: 8px;
  top: 0;
  color: #FFF;
}
.title_back {
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    content: " ";
    display: inline-block;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: 15px;
    color: #FFF;
}
.order_cancel {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  //  background-color: gray;
    height: 25px;
    width: 40px;
    float: right;
    margin: 2px 6px 2px 0;
    font-size: 13px;
    color: graytext;
    text-align: center;
    line-height: 25px;
}
.order_occupy {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #6FD469;
    height: 25px;
    width: 43px;
    float: right;
    margin: 2px 6px 2px 0;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
}
.order_over {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #208FFC;
    height: 25px;
    width: 43px;
    float: right;
    margin: 2px 6px 2px 0;
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
}
/*.title_info {
    float:left;
    margin-left: 10px;
}*/
.btn_day_type_click {
    background-color: #F7F7F7 !important;
}
.div_date_picker{
    position:fixed;
    margin:0 auto;
    left:0; 
    right:0; 
    bottom:0;
    width:310px;
    z-index: 6;
}
#div_calendar {
    width: 50px;
    height: 50px;
    background: url(./images/calendar.png) no-repeat 0 0;
    position:fixed;
    margin:0 auto;
    left:0; 
    right:0; 
    bottom:100px;
    z-index: 5;
}

/*用户中心样式*/
.user_header {
    border-bottom: 10px solid #d9d9d9;
}
.user_header p {
    text-align: center;
}
.user_money {
    float: left;
    border-top:1px solid #d9d9d9;
    border-right:1px solid  #d9d9d9; 
    width: 49%;
    padding:5px 0;
}
.user_money_num{
    text-align: center;
    color:#CC9900;
}
.user_coupon {
    float: left;
    border-top:1px solid #d9d9d9;
    width: 50%;
    padding:5px 0;
}
.font_15{
    font-size: 15px;
}


