<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的</title>
    <link href="__PUBLIC__/datepicker/jquery-ui.css?__V__" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.1.min.js?__V__"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js?__V__"></script>
    <link rel="stylesheet" href="__PUBLIC__/style/weui.min.css?__V__"/>
    <link rel="stylesheet" href="__PUBLIC__/style/common.css?__V__"/>
</head>
<body ontouchstart>
    <div class="user_header">
        <div>
            headimg
        </div>
        <div class="append_info">
            <div class="user_money"><p class="user_money_num">- 50.00元</p><p>钱包</p></div>
            <div class="user_coupon"><p class="user_money_num">1张</p><p>优惠券</p></div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="weui_cells weui_cells_access" style="margin-top: 0;border-bottom: 10px solid  #d9d9d9;">
        <a href="javascript:;" class="weui_cell">
            <div class="weui_cell_hd"><img style="width:20px;margin-right:5px;display:block" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="font_15">消息通知</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a href="javascript:;" class="weui_cell">
            <div class="weui_cell_hd"><img style="width:20px;margin-right:5px;display:block" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p class="font_15">我的足迹</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>
</body>
</html>
